.navbar {
width : 100%
}

main {

    margin-top: 200px
}

footer {

    margin-top: 50px
}

.jumbotron {
    height:100%;
    width:100%;
    }

.container {
    width:1025px;
    }

.jumbotron .container {
    max-width: 100%;
    } 

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}