{% extends 'base.html' %}
<!DOCTYPE html>
{% block content %}

<main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container" style="height: 676px;">
                <div class="block-heading" style="height: 230px;">
                    <h2 class="text-info">Pricing Table</h2>
                    <p>See the table below for our simple and cost effective prices for locating nearby parking spaces. Note that you can request one nearby space, or multiple spaces</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>Find A Nearby Spot</h3>
                            </div>
                            <p>Shows you a map of the nearest open parking spot that's big enough for your vehicle.</p>
                            <div class="price">
                                <h4 style="width: 210px;height: 153px;">$1.50 or 2 Parking Credits</h4>
                            </div><button class="btn btn-outline-primary btn-block" type="button">BUY NOW</button></div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="ribbon"><span>Best Value</span></div>
                            <div class="heading">
                                <h3>Find 5 Nearby Spots</h3>
                            </div>
                            <p>Shows you a map of the 5 nearest open parking spots that are big enough for your vehicle.</p>
                            <div class="features"></div>
                            <div class="price">
                                <h4 style="height: 153px;">$5 or 9 Parking Credits</h4>
                            </div><button class="btn btn-primary btn-block" type="button">BUY NOW</button></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</html>